$coral: #D9594C;
$maroon: #8B1E3F;
$purple: #3C153B;
$lightgreen: #89BD93;

$babypowder: #FCFCFC;
$brinkpink: #F7567C;
$cosmiclatte: #FFFAE3;
$robineggblue: #99E1D9;

.btn-coral, .bg-coral {
    background-color: $coral;
}

.btn-maroon, .bg-maroon {
    background-color: $maroon;

}

.btn-purple, .bg-purple {
    background-color: $purple;
}

.btn-lg, .bg-lg {
    background-color: $lightgreen;
}

.btn-babypowder, .bg-babypowder {
    background-color: $babypowder;
}